// Fonts
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

// Theme
:root {
	// Primary
	--color-primary-100: #e3fcf1;
	--color-primary-200: #c9fae8;
	--color-primary-300: #aaf2de;
	--color-primary-400: #90e5d5;
	--color-primary-500: #6bd4ca;
	--color-primary-600: #4eb6b5;
	--color-primary-700: #359098;
	--color-primary-800: #226b7a;
	--color-primary-900: #144f65;

	// Success
	--color-success-100: #f0fbd6;
	--color-success-200: #dff8af;
	--color-success-300: #c2eb84;
	--color-success-400: #a3d861;
	--color-success-500: #79bf33;
	--color-success-600: #5ea425;
	--color-success-700: #468919;
	--color-success-800: #316e10;
	--color-success-900: #225b09;

	// Info
	--color-info-100: #cbfcfe;
	--color-info-200: #98f4fe;
	--color-info-300: #65e3fd;
	--color-info-400: #3ecffb;
	--color-info-500: #00aef9;
	--color-info-600: #0087d6;
	--color-info-700: #0065b3;
	--color-info-800: #004790;
	--color-info-900: #003377;

	// Warning
	--color-warning-100: #fefbce;
	--color-warning-200: #fdf69e;
	--color-warning-300: #faef6e;
	--color-warning-400: #f5e649;
	--color-warning-500: #efd910;
	--color-warning-600: #cdb80b;
	--color-warning-700: #ac9808;
	--color-warning-800: #8a7905;
	--color-warning-900: #726303;

	// Danger
	--color-danger-100: #ffead4;
	--color-danger-200: #ffcfaa;
	--color-danger-300: #ffad7f;
	--color-danger-400: #ff8e60;
	--color-danger-500: #ff592b;
	--color-danger-600: #db3a1f;
	--color-danger-700: #b72115;
	--color-danger-800: #930d0e;
	--color-danger-900: #7a0810;
}

// Styles
* {
	font-family: 'Patrick Hand', cursive;
}
